<footer class="fixed-bottom">
    <nav class="navbar sticky-bottom bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">
          <img
            src="/images/logo.jpg"
            alt="Logo"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          Clothing Store Inc.
        </a>
      </div>
    </nav>
  </footer>
  